In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("final_airlines.csv")

In [7]:
df.iloc[1]

Unnamed: 0.1                          1
Unnamed: 0                            1
Origin_Dest                         BOM
Destination                         COK
Company_names          Vistara, GoFirst
start_date                   2023-04-14
end_date                     2023-08-26
Stops                            direct
Timings                     09:45–11:50
Duration                         2h 05m
Price                            8178.0
jstart_day                           14
jstart_month                          4
jstart_year                        2023
jend_day                             26
jend_month                            8
jend_year                          2023
dep_time_hour                         9
dep_time_minute                      45
arrival_time_hour                    11
arrival_time_minute                  50
Duration_hours                        2
Duration_mins                         5
Duration_total_mins                 125
Origin_DestBOM                        1
Airline                              34
DDestination                          2
Total_Stops                           0
Name: 1, dtype: object

In [5]:
x=df[['Airline', 'DDestination','Total_Stops','jstart_day', 'jstart_month', 'jend_day', 'jend_month',
       'dep_time_hour', 'dep_time_minute', 'arrival_time_hour',
       'arrival_time_minute', 'Duration_hours', 'Duration_mins',
       'Duration_total_mins', 'Origin_DestBOM']]

In [6]:
x

,Airline,DDestination,Total_Stops,jstart_day,jstart_month,jend_day,jend_month,dep_time_hour,dep_time_minute,arrival_time_hour,arrival_time_minute,Duration_hours,Duration_mins,Duration_total_mins,Origin_DestBOM
0,32,2,0,14,4,26,8,22,45,0,50,2,5,125,1
1,34,2,0,14,4,26,8,9,45,11,50,2,5,125,1
2,32,2,0,14,4,26,8,15,55,17,45,1,50,110,1
3,32,2,1,14,4,26,8,17,20,22,10,4,50,290,1
4,32,2,1,14,4,26,8,16,20,22,10,5,50,350,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23949,38,1,0,8,5,11,9,20,30,21,50,1,20,80,1
23950,38,1,0,8,5,11,9,2,35,4,5,1,30,90,1
23951,38,1,0,8,5,11,9,2,35,4,5,1,30,90,1
23952,38,1,0,8,5,11,9,2,35,4,5,1,30,90,1
23953,47,1,0,8,5,11,9,19,10,20,55,1,45,105,1

In [5]:
y=df['Price']

In [6]:
from sklearn.feature_selection import mutual_info_regression

In [7]:
mutual_info_regression(x,y)

array([0.89061981, 0.66488619, 0.51644812, 0.56767469, 0.80166859,
       0.56520445, 0.71069415, 0.39934341, 0.38497401, 0.42662447,
       0.35669675, 0.43782706, 0.35777072, 0.46379064, 0.00196509])

In [8]:
imp=pd.DataFrame(mutual_info_regression(x,y),index=x.columns)

In [9]:
imp

                            0
Airline              0.887020
DDestination         0.668138
Total_Stops          0.517548
jstart_day           0.565314
jstart_month         0.795827
jend_day             0.570007
jend_month           0.706425
dep_time_hour        0.402766
dep_time_minute      0.389289
arrival_time_hour    0.424969
arrival_time_minute  0.356904
Duration_hours       0.443917
Duration_mins        0.356726
Duration_total_mins  0.463709
Origin_DestBOM       0.000000

In [10]:
imp.columns=['importance']

In [11]:
imp.sort_values(by='importance',ascending=False)

                     importance
Airline                0.887020
jstart_month           0.795827
jend_month             0.706425
DDestination           0.668138
jend_day               0.570007
jstart_day             0.565314
Total_Stops            0.517548
Duration_total_mins    0.463709
Duration_hours         0.443917
arrival_time_hour      0.424969
dep_time_hour          0.402766
dep_time_minute        0.389289
arrival_time_minute    0.356904
Duration_mins          0.356726
Origin_DestBOM         0.000000

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

## Linear Regression

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [15]:
linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)
y_pred_linear = linear_reg.predict(X_test)
r2_linear = r2_score(y_test, y_pred_linear)
mse_linear = mean_squared_error(y_test, y_pred_linear)
mae_linear = mean_absolute_error(y_test, y_pred_linear)

In [16]:
r2_linear

0.6019627531670335

In [17]:
mae_linear

3018.8927509493697

In [18]:
mse_linear

16260081.556739643

## Decision Tree

In [19]:
# Decision Trees
from sklearn.tree import DecisionTreeRegressor
tree_reg = DecisionTreeRegressor()
tree_reg.fit(X_train, y_train)
y_pred_tree = tree_reg.predict(X_test)
r2_tree = r2_score(y_test, y_pred_tree)
mse_tree = mean_squared_error(y_test, y_pred_tree)
mae_tree = mean_absolute_error(y_test, y_pred_tree)

In [20]:
r2_tree

0.8947327348512992

In [21]:
mse_tree

4300236.548694386

In [22]:
mae_tree

993.5976209009608

## Random Forest

In [23]:
# Random Forest
from sklearn.ensemble import RandomForestRegressor
forest_reg = RandomForestRegressor()
forest_reg.fit(X_train, y_train)
y_pred_forest = forest_reg.predict(X_test)
r2_forest = r2_score(y_test, y_pred_forest)
mse_forest = mean_squared_error(y_test, y_pred_forest)
mae_forest = mean_absolute_error(y_test, y_pred_forest)

In [24]:
r2_forest

0.908752549781476

In [25]:
mse_forest

3727517.950148926

In [26]:
mae_forest

985.9835700518188

In [27]:
# Gradient Boosting
from sklearn.ensemble import GradientBoostingRegressor
gb_reg = GradientBoostingRegressor()
gb_reg.fit(X_train, y_train)
y_pred_gb = gb_reg.predict(X_test)
r2_gb = r2_score(y_test, y_pred_gb)
mse_gb = mean_squared_error(y_test, y_pred_gb)
mae_gb = mean_absolute_error(y_test, y_pred_gb)

In [28]:
r2_gb

0.8378312926834028

In [29]:
mse_gb

6624697.6329465415

In [30]:
mae_gb

1640.217275901539

## xbooost

In [31]:
import xgboost as xgb
xgb_reg = xgb.XGBRegressor()
xgb_reg.fit(X_train, y_train)
y_pred = xgb_reg.predict(X_test)

# Evaluate the model using R2 score, mean squared error, and mean absolute error
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

# Print the evaluation metrics
print("XGBoost:")
print("R2 Score:", r2)
print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)

XGBoost:
R2 Score: 0.9100531069936865
Mean Squared Error: 3674389.338422238
Mean Absolute Error: 1082.7966827937807

In [32]:
import pickle

In [34]:
pickle.dump(forest_reg,open('Random.pkl','wb'))